VITE_ADMIN_ROUTE=/control-room
VITE_SITE_URL=https://your-domain.com
VITE_SUPABASE_URL=https://your-project-id.supabase.co
VITE_SUPABASE_ANON_KEY=your-public-anon-key
VITE_ADMIN_EMAIL=you@example.com
